<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <!--bootstrap-->
        <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">
        <!--font- awesome-->
        <link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.min.css">
        <!--stylesheet-->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><span>hello</span><span class="text-uppercase">books</span></a>
                    </div>
                
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for books">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><img src="assets/img/send.png" alt="" class="img-responsive"></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="./"><img src="" alt="[User Picture]"></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ayodele Olawunmi <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-bell"></i><span class="count">2</span></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <div>
            <button type="button" class="btn cart">Cart</button>
        </div>
        <div class="col-md-12">
            <span>
                <div class="lines">
                    <h3>Read Books</h3>
                </div>
            </span>
        </div>
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default">Catalogue</button>
                <button type="button" class="btn btn-default">favourite</button>
                <button type="button" class="btn btn-default">Read Books</button>
                <button type="button" class="btn btn-default">Returned</button>
                <button type="button" class="btn btn-default">Wish List</button>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-3  col-md-3">
                    <div class="card">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJEfMQAfVjaAaufe-x5TA6oyC10buLXTfwI8GE8QgjGjeO3Y55w">
                            <a href="#" class="btn btn-primary btn-lg" role="button">Borrow Book</a>
                            <a href="#" class="btn btn-default btn-lg" role="button">Add to Wishlist</a>
                        </div>
                    </div>
                </div>
            </div>

        <footer>
            <div class="container">
                <ul class="">
                    <li class="">
                        <p>&copy; 2017 Great Simple All Rights Reserved</p>
                    </li>
                    <li class="">
                    <p class="text-uppercase">
                    <a href="#">terms and conditions</a>, <a href="#">support</a>, <a href="#">faqs</a>
                    </p>
                     </li>
                    <li class="">
                        <ul class="">
                            <li><span><i class="fa fa-skype"></i></span></li>
                            <li><span><i class="fa fa-instagram"></i></span></li>
                            <li><span><i class="fa fa-twitter"></i></span></li>
                            <li><span><i class="fa fa-facebook"></i></span></li>
                        </ul>
                        </li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript" src="assets/plugins/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    </body>
