
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <!--bootstrap-->
        <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">
        <!--font- awesome-->
        <link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.min.css">
        <!--stylesheet-->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><span>hello</span><span class="text-uppercase" style="color: #00aced; font-size: 20px; font-weight: bold;">books</span></a>
                    </div>
                
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for books">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><img src="assets/img/send.png" alt="" class="img-responsive"><i class="fa fa-arrow-right"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="./" class="avater"></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ayodele Olawunmi <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-bell" style="color: #00aced;"></i><span class="count" style="font-size: 9px;">2</span></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        
        <main class="container">
            <header class="text-center">
            <nav class="btn-group" role="group" style="margin: 0 auto 20px;">
                <button class="btn btn-default">Art Books</button>
                <button class="btn btn-default">Science</button>
                <button class="btn btn-primary">Social Science</button>
            </nav>
            </header>
            <section class="row cards">
                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->

                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->



                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->



                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->




                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->




                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->


                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->


                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->




                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->




                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->





                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->





                <!-- block -->
                <div class="col-sm-3">
                    <div class="cards__item">
                        <figure class="cards__image" style="background-image: url('assets/img/book.jpg');">
                            <h3 class="cards__title">A book of tails</h3>
                        </figure>
                        <h3 class="cards__author"><span>by</span>John Doe</h3>
                        <div class="row">
                            <div class="col-md-6"><a href="" class="btn btn-default btn-borrow">Borrow</a></div>
                            <div class="col-md-6"><a href="" class="btn btn-default btn-add">Add to list</a></div>
                        </div>
                    </div>
                </div>
                <!-- block end -->


            </section>
        </main>



        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">&copy; 2017 Affiong book ventures. All rights reserved</div>
                    
                    <div class="col-sm-4 text-center"><a href="#">Terms</a> - <a href="#">Conditions</a> - <a href="#">FAQ</a></div>

                    <div class="col-sm-4 text-right">
                        <nav class="btn-group" role="group">
                            <button class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button class="btn btn-default"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-default"><i class="fa fa-google" aria-hidden="true"></i></button>
                            <button class="btn btn-default"><i class="fa fa-instagram" aria-hidden="true"></i></button>
                            
                        </nav>
                    </div>
                </div>
                
            </div>
        </footer>
        <script type="text/javascript" src="assets/plugins/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    </body>
